<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="../assets/images/users/d6.png" alt="user" /><span class="hide-menu">Dr. Milton Sanmartín </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()">Mi Perfil </a></li>
                        <li><a href="javascript:void()">Personal</a></li>
                        <li><a href="javascript:void()">Configuracion</a></li>
                        <li><a href="javascript:void()">Cerrar sesión</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">MENU</li>


                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-tag-faces"></i><span class="hide-menu">Administración </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li>

                            <a href="index.html">Pasciente </a></li>
                        <li><a href="index2.html">Doctor</a></li>

                    </ul>
                </li>

                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-note-text"></i><span class="hide-menu">R. Exámenes </span></a>
                    <ul aria-expanded="false" class="collapse">

                    </ul>
                </li>

                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-trending-up"></i><span class="hide-menu">Reportes </span></a>
                    <ul aria-expanded="false" class="collapse">

                    </ul>
                </li>

                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-settings"></i><span class="hide-menu">Mantenimiento </span></a>
                    <ul aria-expanded="false" class="collapse">

                    </ul>
                </li>


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->